.divParr {
  display: none;
  max-width: 300px;
  margin-left: 600px;
  padding: 10px 10px;
  font-size: 18px;
  border: 3px solid goldenrod;
  background-color: #ae0057;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1100px) {
  .divParr {
    display: flex;
    margin: 40px 0 0 100px;
    max-width: 400px;
    margin-left: 10px;
    text-align: center;
  }
}
