.divLenguages {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

.divLenguages button {
  box-shadow: inset 0px 0px 15px 3px #23395e;
  background: linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  text-shadow: 0px 1px 0px #263666;
  padding: 6px 13px;
  cursor: pointer;
}

.divLenguages button:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}

.divLenguages h5 {
  font-size: 30px;
  color: rgb(0, 0, 47);
}

.divContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.divPages {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
}

.divPages a {
  font-size: 20px;
  font-weight: 600;
  color: gold;
}

.divPages a:hover {
  scale: 1.5;
}

@media (max-width: 1100px) {
  .divContainer {
    padding-top: 20px;
  }
}
